* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-family: 300;
  color: #212121;
  /* parallax */
  -webkit-perspective: 4px;
          perspective: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f1f1f1;
}

body p {
  font-family: "Oswald", sans-serif;
}

.hide-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#nav-wrapper .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-wrapper .nav-item a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #212121;
  font-size: 1.9rem;
}

#nav-wrapper .nav-item a:hover {
  border-bottom: 2px solid;
  color: #c8583e;
}

#nav-wrapper .nav-item a.active {
  color: #c8583e;
}

header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-left: 5rem;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url("../media/background.svg");
  background-size: cover;
  /* parallax */
  -webkit-transform: translateZ(-4px) scale(2);
          transform: translateZ(-4px) scale(2);
}

header div {
  position: absolute;
  z-index: 1;
  top: 40%;
  padding: 0 30px;
  font-family: "Lato", sans-serif;
  -webkit-transform: translateZ(-2px) scale(1.5);
          transform: translateZ(-2px) scale(1.5);
}

header h1 {
  font-size: 5.5rem;
  font-weight: bold;
  color: #212121;
  margin-bottom: 2rem;
}

header h2 {
  font-size: 2.2rem;
  color: #535353;
}

.icon-container {
  position: absolute;
  top: 15rem;
  left: 1rem;
  font-size: 2rem;
}

.icon-container .fa-github {
  margin-left: 20px;
}

.icon-container a.header-link {
  text-decoration: none;
  color: #535353;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.icon-container a:hover {
  color: black;
}

section {
  width: 100%;
  background: #f1f1f1;
  position: relative;
  z-index: 2;
}

.container {
  margin: auto;
  /* To center the text horizontally */
  max-width: 1000px;
  /* Limiting the width for extra large screens */
  padding: 3rem 5rem 2rem 3rem;
}

.container .header-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

#about {
  height: 100vh;
}

#about h3.header-text {
  margin-top: 25px;
}

#about h4.header-text {
  margin-top: 50px;
}

.container p {
  padding-top: 30px;
  line-height: 2.2;
  font-size: 1.3rem;
}

#list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
}

#list-container li {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

#list-container .left-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#list-container .right-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#projects .header-subtext {
  padding-top: 30px;
  font-size: 1.4rem;
}

#projects #projects-thumbnail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
}

#projects #projects-thumbnail-container .thumbnail-card {
  height: 15rem;
  width: 15rem;
  background-color: grey;
}

#wave {
  margin-top: 50px;
}

#contact {
  background-image: url("./media/wave-2.svg");
}

#contact #contact-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25vh;
}

#contact #contact-link-container .icon-link {
  font-size: 8rem;
  -webkit-transition: -webkit-box-flex 500ms;
  transition: -webkit-box-flex 500ms;
  transition: flex 500ms;
  transition: flex 500ms, -webkit-box-flex 500ms, -ms-flex 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #contact-link-container .icon-link .text-hide {
  display: none;
}

#contact #contact-link-container .icon-link .text-anim-in {
  -webkit-animation: anim 500ms forwards ease-out;
          animation: anim 500ms forwards ease-out;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
}

#contact #contact-link-container .icon-link .text-anim-out {
  -webkit-animation: anim-out 500ms forwards ease-out;
          animation: anim-out 500ms forwards ease-out;
}

#bottom {
  height: 100px;
  width: 100vw;
  background-color: rgba(68, 90, 124, 0.65);
}

@media (max-width: 500px) {
  #nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  #nav-wrapper .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-wrapper .nav-item a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: #212121;
    font-size: 1.5rem;
  }
  #nav-wrapper .nav-item a:hover {
    border-bottom: 2px solid;
    color: #c8583e;
  }
  #nav-wrapper .nav-item a.active {
    color: #c8583e;
  }
  header div {
    left: 0;
    top: 0;
  }
  header div .icon-container {
    top: 25rem;
    left: 1.5rem;
    margin-top: 15px;
  }
  .container {
    padding: 3rem 1rem 2rem 1rem;
  }
  .container h3 {
    text-align: center;
  }
  .container h2 {
    text-align: center;
  }
  #about {
    height: auto;
  }
  #projects .header-subtext {
    padding-top: 30px;
    font-size: 1.4rem;
  }
  #projects #projects-thumbnail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 75px;
  }
  #projects #projects-thumbnail-container .thumbnail-card {
    height: 6rem;
    width: 6rem;
    background-color: grey;
  }
  #contact #contact-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact #contact-link-container .icon-link {
    font-size: 5rem;
    -webkit-transition: -webkit-box-flex 500ms;
    transition: -webkit-box-flex 500ms;
    transition: flex 500ms;
    transition: flex 500ms, -webkit-box-flex 500ms, -ms-flex 500ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact #contact-link-container .icon-link .text-hide {
    display: none;
  }
  #contact #contact-link-container .icon-link .text-anim-in {
    -webkit-animation: anim 500ms forwards ease-out;
            animation: anim 500ms forwards ease-out;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
  }
  #contact #contact-link-container .icon-link .text-anim-out {
    -webkit-animation: anim-out 500ms forwards ease-out;
            animation: anim-out 500ms forwards ease-out;
  }
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes anim-out {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes anim-out {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
}

@-webkit-keyframes modalOpen {
  from {
    left: 0;
  }
  25% {
    left: 10%;
  }
  50% {
    left: 20%;
  }
  75% {
    left: 30%;
  }
  to {
    left: 50%;
  }
}

@keyframes modalOpen {
  from {
    left: 0;
  }
  25% {
    left: 10%;
  }
  50% {
    left: 20%;
  }
  75% {
    left: 30%;
  }
  to {
    left: 50%;
  }
}
/*# sourceMappingURL=styleMain.css.map */