$color-primary: #cbc5ae;
$color-accent: #c8583e;
$color-nav: #575343;
$on-primary: #212121;
$header-font: "Lato", sans-serif;
$text-font: "Oswald", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-family: 300;
  color: #212121;
  /* parallax */
  perspective: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(241, 241, 241);

  p {
    font-family: $text-font;
  }
}

.hide-nav {
  transform: translateX(100%);
  height: 0;
  transition-duration: 500ms;
}

#nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  //background-color: #c0baa2;

  z-index: 100;
  transition-duration: 500ms;
  .nav-item {
    display: flex;

    a {
      align-self: center;
      text-decoration: none;
      font-family: $text-font;
      color: $on-primary;
      font-size: 1.9rem;
      &:hover {
        border-bottom: 2px solid;
        color: $color-accent;
      }
      &.active {
        color: $color-accent;
      }
    }
  }
}

header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  padding-left: 5rem;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  //background-color: #cbc5ae;
  background-image: url("../media/background.svg");
  background-size: cover;

  /* parallax */
  transform: translateZ(-4px) scale(2);
}

header div {
  position: absolute;
  z-index: 1;
  top: 40%;
  padding: 0 30px;
  font-family: $header-font;
  transform: translateZ(-2px) scale(1.5);
}

header h1 {
  font-size: 5.5rem;
  font-weight: bold;
  color: $on-primary;
  margin-bottom: 2rem;
}
header h2 {
  font-size: 2.2rem;
  color: rgb(83, 83, 83);
}

.icon-container {
  position: absolute;
  top: 15rem;
  left: 1rem;
  font-size: 2rem;

  .fa-github {
    margin-left: 20px;
  }

  a.header-link {
    text-decoration: none;
    color: rgb(83, 83, 83);
    cursor: pointer;
    transition: all 500ms;
  }
  a:hover {
    color: black;
  }
}

section {
  width: 100%;

  background: rgb(241, 241, 241);
  position: relative;
  z-index: 2;
}
.container {
  margin: auto; /* To center the text horizontally */
  max-width: 1000px; /* Limiting the width for extra large screens */
  padding: 3rem 5rem 2rem 3rem;
}
.container {
  .header-text {
    font-family: $header-font;
    font-weight: 700;
    font-size: 3rem;
  }
}

#about {
  height: 100vh;
  h3.header-text {
    margin-top: 25px;
  }
  h4.header-text {
    margin-top: 50px;
  }
}
.container p {
  padding-top: 30px;

  line-height: 2.2;
  font-size: 1.3rem;
}

#list-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  li {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: $text-font;
  }
  .left-container {
    flex: 1;
  }
  .right-container {
    flex: 1;
  }
}

#projects {
  .header-subtext {
    padding-top: 30px;
    font-size: 1.4rem;
  }
  #projects-thumbnail-container {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    .thumbnail-card {
      height: 15rem;
      width: 15rem;
      background-color: grey;
    }
    // .modal {
    //   animation-duration: 200ms;
    //   animation-name: modalOpen;
    //   animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    //   height: 50%;
    //   width: 50%;
    //   background-color: grey;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   display: flex;
    //   justify-content: center;
    // }
  }
}
#wave {
  margin-top: 50px;
}

#contact {
  // background-color: $color-accent;
  background-image: url("./media/wave-2.svg");

  #contact-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25vh;

    .icon-link {
      font-size: 8rem;
      transition: flex 500ms;
      display: flex;
      flex-direction: row;
      align-items: center;

      .text-hide {
        display: none;
      }
      .text-anim-in {
        animation: anim 500ms forwards ease-out;
        font-size: 2rem;
        text-decoration: none;
        color: black;
        font-family: $text-font;
      }
      .text-anim-out {
        animation: anim-out 500ms forwards ease-out;
      }
    }
  }
}

#bottom {
  height: 100px;
  width: 100vw;
  background-color: rgba(68, 90, 124, 0.65);
}

// @media (min-width: 500px) {
//   section {
//     height: 100vh;
//   }
// }

//mobile devices and smaller screens
@media (max-width: 500px) {
  #nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    //background-color: #c0baa2;

    z-index: 100;
    transition-duration: 500ms;
    .nav-item {
      display: flex;

      a {
        align-self: center;
        text-decoration: none;
        font-family: $text-font;
        color: $on-primary;
        font-size: 1.5rem;
        &:hover {
          border-bottom: 2px solid;
          color: $color-accent;
        }
        &.active {
          color: $color-accent;
        }
      }
    }
  }

  header div {
    left: 0;
    top: 0;
    .icon-container {
      top: 25rem;
      left: 1.5rem;

      margin-top: 15px;
    }
  }

  .container {
    padding: 3rem 1rem 2rem 1rem;
    h3 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  }

  #about {
    height: auto;
  }

  #projects {
    .header-subtext {
      padding-top: 30px;
      font-size: 1.4rem;
    }
    #projects-thumbnail-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 75px;
      .thumbnail-card {
        height: 6rem;
        width: 6rem;
        background-color: grey;
      }
      // .modal {
      //   height: 50%;
      //   width: 90vw;
      //   background-color: grey;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   display: flex;
      //   justify-content: center;
      // }
    }
  }

  #contact {
    #contact-link-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 75px;
      align-items: center;

      .icon-link {
        font-size: 5rem;
        transition: flex 500ms;
        display: flex;
        flex-direction: row;
        align-items: center;

        .text-hide {
          display: none;
        }
        .text-anim-in {
          animation: anim 500ms forwards ease-out;
          font-size: 1.5rem;
          text-decoration: none;
          color: black;
          font-family: $text-font;
        }
        .text-anim-out {
          animation: anim-out 500ms forwards ease-out;
        }
      }
    }
  }
}

@keyframes anim {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-out {
  from {
    transform: translateX(100px);
    opacity: 1;
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes modalOpen {
  from {
    left: 0;
  }
  25% {
    left: 10%;
  }
  50% {
    left: 20%;
  }
  75% {
    left: 30%;
  }

  to {
    left: 50%;
  }
}
