.project-modal {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: "Lato", sans-serif;
  border: 2px solid #747474;
  border-radius: 5px;
}

.image-container {
  height: 50vh;
  width: 100%;
  object-fit: fill;
}

.image {
  width: inherit;
  height: auto;
}

.info-container {
  margin: 0 15px 0 15px;
}

.title-container {
  border-bottom: 2px solid #747474;
}

.title {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  margin-top: -30px;
}

.description {
  font-size: 0.9rem;
  color: #747474;
}

.p-container p {
  padding-top: 10px;
}
