.project-modal {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: "Lato", sans-serif;
  border: 2px solid #747474;
  border-radius: 5px;
  overflow-y: scroll;
}

.image-container {
  height: 50vh;
  width: 100%;
  object-fit: fill;
}

.image {
  width: inherit;
  height: auto;
}

.info-container {
  margin: 0 15px 0 15px;
}

.title {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  margin-top: -30px;
}

.title-container {
  border-bottom: 2px solid #747474;
  padding-bottom: 0.9rem;
}

.description {
  font-size: 0.9rem;
  color: #747474;
  display: flex;
  justify-content: space-between;
}

.info {
  /* line-height: -5px; */
  align-self: center;
}

.link-container {
  display: flex;
}

.link-container a {
  border-radius: 3px;
  text-decoration: none;
  color: #dedede;
  background-color: #445a7c;
  padding: 6px 10px;
  margin: 0 5px;
  transition: background-color 500ms;
}

.link-container a:hover {
  background-color: #58739c;
}

.p-container p {
  padding-top: 10px;
  font-size: 0.8rem;
}

.sub-header {
  color: #747474;
  border-bottom: 2px solid #747474;
}

.stack-icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.4rem;
  font-size: 1.8rem;
}

.exitBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(212, 212, 212);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 500ms;
  cursor: pointer;
}

.exitBtn:hover {
  opacity: 1;
}

.show {
  opacity: 1;
}
