.project-modal {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: teal;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.image {
  height: 50%;
  width: auto;
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}
