.thumbnail-wrapper {
  /* background-color: rgba(197, 197, 197, 0.712); */

  height: 250px;
  width: 250px;
  position: relative;
}

.thumbnail-image-container {
  height: 100%;
  width: 100%;
  transition: all 500ms;
}

.thumbnail-image-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #00000085;
}

.image-zoom {
  transform: scale(1.2);
}

/* .thumbnail-image-container:hover {
  transform: scale(1.4);
} */

/* .thumbnail-wrapper:hover {
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 500ms;
  cursor: pointer;
} */

.thumbnail-header {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px black;
}
.thumbnail-header:hover {
  text-decoration: underline;
  cursor: pointer;
}

.thumbnail-body {
  font-family: "Oswald", sans-serif;
  padding-top: 3rem;
}

.thumbnail-link {
  font-family: "Oswald", sans-serif;
  padding-top: 2rem;
}
